/* .container {
    height: 100%;
    width: 100%;
    align-items: center;
    display:  flex;
}
.login-content{
    width: 400px;
    display: block;
    margin: 0 auto;
    font: bold;
}


button {
margin:10px ;
}  */
.span-label {
    background: #172b4d !important;
  }
  
  .inputGroup {
    padding-left: 20px !important;
  }
  
  .subBtn {
    display: flex;
    justify-content: center;
  }
  
  @media only screen and (max-width: 414px) {
    .input-group-prepend {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      max-height: 36px !important;
    }
  }.span-label {
    background: #172b4d !important;
  }
  
  .inputGroup {
    padding-left: 20px !important;
  }
  
  .subBtn {
    display: flex;
    justify-content: center;
  }
  
  @media only screen and (max-width: 414px) {
    .input-group-prepend {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      max-height: 36px !important;
    }
  }